body {
    display: flex;
    justify-content: center;
}

.wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 500px;
    border: 1px solid lightgray;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.large {
    font-size: 3rem;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

hr {
    border-bottom: 2px solid black;
}