body {
    margin-left: 5rem;
    margin-right: 5rem;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.large {
    font-size: 3rem;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

hr {
    border-bottom: 2px solid black;
}