body {
    background-color: blanchedalmond;
}

div {
    width: 300px;
    text-align: center;
    background-color: white;
    padding: 20px;
    margin: 60px auto;
}

button {
    background-color: blanchedalmond;
    border: none;
    padding: 10px;
    cursor: pointer;
}