@use "../utilities" as utils;

.first-page {
  .card-container {
    @include utils.flex-container;

    &__card {
      @include utils.card-base(red, white);
    }
  }
}

.second-page {
  .card-container {
    @include utils.flex-container;
    margin-bottom: 3rem;

    &__card {
      @include utils.card-base(orange, blue);
    }
  }
}

.title {
  position: absolute;
  top: 10rem;
  font-size: 3rem;
  color: utils.$myGreen;
  text-shadow: 0 0 2px black;
  border: utils.$white-border;
}
