@use "./variables" as *;

body {
  min-width: 375px;
  overflow-x: clip;
}

.header {
  background: black;
  min-width: 375px;
  overflow-x: hidden;
  .navbar {
    &-toggler {
      &:active,
      &:focus {
        border-color: white;
      }
    }
    .dropdown-menu {
      background-color: black;
      .dropdown-item {
        color: white;
        &:hover {
          background: $gray;
        }
      }
    }
  }

  .shopping-cart__items {
    height: 14px;
    width: 14px;
    background: #f95738;
    display: inline-flex;
    padding: 2px 4px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 100px;
  }
  .nav__profile_logo {
    height: 32px;
    width: 32px;
  }
}

.welcome-section {
  background: black;
  min-width: 375px;
  overflow-x: hidden;
  padding-bottom: 5rem;
}

.welcome {
  &__container {
    @media (width >= 1200px) {
      gap: 100px;
    }
    @media (width >= 1400px) {
      gap: 200px;
    }
  }
  &__carousel {
    max-width: 600px;
    &_gallery-image {
      object-fit: cover;
      object-position: top;
    }
  }
  &__text {
    max-width: 676px;
  }
  &__search {
    &_container {
      min-width: 343px;
      max-width: 585px;
      height: 62px;
      background-color: #161616;
      padding: 16px;
      gap: 8px;
      border-radius: 100px;
      position: relative;
    }
    &_form {
      width: calc(100% - 156px);
    }
    &_input {
      background-color: #161616;
      border: none;
      width: 100%;
    }
    &_button {
      background-color: white;
      height: 50px;
      width: 140px;
      border-radius: 100px;
      padding: 8px 32px;
      gap: 8px;
      position: absolute;
      right: 8px;
      top: 6px;
    }
  }
}

.collections-section {
  background: black;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;
  min-width: 375px;
  @media (width >= 1200px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.collections {
  &__text {
    padding: 3rem 2rem;
  }
  &__image {
    cursor: pointer;
    min-width: 220px;
    max-width: 446px;
    height: 426px;
    @media (width >= 1400px) {
      height: 570px;
    }
  }
  &__autumn {
    background: linear-gradient(180deg, rgba(1, 1, 1, 0.26) 0%, #010101 100%),
      url(https://s3-alpha-sig.figma.com/img/9844/dd91/9226958c85cdc48f007a45201c37dfb5?Expires=1703462400&Signature=TJjK25z4E4RuVc4iGYHA63WH1jlVII1TpfUUIatR1goV2zYqcx-gzNlCfh3Y~FKZm4gxUivBlXvqKzC1I8hjQVJ3KYHRAQwg5ztEl8WS0QSJs19VyXv3S7Qvzv0CIn4enmWsqZ5A2P4qBIoOg5i-gLaQ--yymsDUh-tjgRGW5bSzvcFG5Erbr7GA6jgxpwHYIOpslgDwvzaThNkFCKnXOTfHLGfICZsPu2nquRSWReWr1Lph13xcGZ6DntarfDboE7BfvE4y8iE1N1dl56ZNTaN~hYOxubI7TT-FFV1HQOlFpwCbeeFbkNjXRyjvh0vfjie689zYKWMqo-FSJnIc7w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4),
      lightgray 50%;
    background-size: cover;
  }
  &__classic {
    background: linear-gradient(180deg, rgba(1, 1, 1, 0.26) 0%, #010101 100%),
      url(https://s3-alpha-sig.figma.com/img/71f6/ed6e/90885736a807bc7c300a20f3d9b8bc72?Expires=1703462400&Signature=pa8mew-ZF5beUV8HC2wghJ9G4jchgc72Agmfvn1VpMyONkVZBoczuS~ZVvYjHlhh3Vf~QW0l5KxohhGDsRhN5UL0gWo9ijQmqis3x93NhZzgm9~RSP8B6REcjW9hInUNiTP6y-OC2Ely21coNpjXcUhqIftQ5EryV7M6Zp4zukkmP1hWfAEVvLxwqqC8TX8H4qni-i8Xdh3XJ7QeRaMLYp13sMM-xbkAXpDdVP~fn2kjtpE8t3l94nZ3ngRIoii3vUu9fLcLzEmDvTqup4crZw6DMZi5ZeRRih~3T~UY~3is7aVBEXaYZZQAWwoVe-efgOA8A2VXBc82Abkn5BuhQw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4),
      lightgray 50%;
    background-size: cover;
  }
  &__professional {
    background: linear-gradient(180deg, rgba(1, 1, 1, 0.26) 0%, #010101 100%),
      url(https://s3-alpha-sig.figma.com/img/9c58/3080/0c3cf7eda14da71e9e725a1fd28f0cdf?Expires=1703462400&Signature=M4RQFNbuLYWfKokwK8QLjyULjiL0nMC-kdc5G06kiPq3DzDNpnAyZUncr~kiS1nO2QrDeUSFlfy5rv7ZEvkF9SwpR0jtsCAF0wzRjyITo7gRTWnSh4Rff9tlg~rXNdSOu-omnHexBaLbigTAsVtof7HG3O4bKZiGCOJwJgUOivDxCmQQzHr~iFN5Q-Uu6rVvOXJDwSWT~H~zQDZlrMRmCzOTbX6fpzQAPz76s2RiQvQT8oAO4VcUueo3KIV0t-H6h4Hw2cIrsiyL0geRp3okktHWJ0-sHANMtr2wADZS20gLECV6jx3VBGQnDrW5rPrwFfi~J~7LadBior2uSUO3Eg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4),
      lightgray 50%;
    background-size: cover;
  }
  &__buttons {
    display: flex;
    position: absolute;
    bottom: 0;
    right: -10vw;
  }
  .collections__button_left,
  .collections__button_right {
    background: black;
    border: none;
  }
}

.shopping-section {
  background: black;
  padding-top: 5rem;
  padding-bottom: 50px;
  min-width: 375px;
  overflow-x: hidden;
}

.shopping {
  &__titles {
    margin-bottom: 2rem;
    &_title {
      margin-bottom: 1rem;
    }
  }
  &__text {
    @media (width >= 1200px) {
      gap: 180px;
    }
  }
  &__description {
    max-width: 870px;
  }
  &__button_more {
    width: 132px;
    height: 36px;
    border: none;
    border-radius: 33px;
    background: #1b1b1b;
  }
  &__item_container {
    justify-content: center;
  }
  &__item_background {
    cursor: pointer;
    width: 160px;
    height: 259px;
    @media (width >= 768px) {
      width: calc(164px * 1.2);
      height: calc(259px * 1.2);
    }
    @media (width >= 992px) {
      width: calc(164px * 1.5);
      height: calc(259px * 1.5);
    }
    @media (width >= 1200px) {
      width: calc(164px * 1.8);
      height: calc(259px * 1.8);
    }
    @media (width >= 1400px) {
      width: calc(164px * 2.5);
      height: calc(259px * 2.5);
    }
    &-boots {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(https://s3-alpha-sig.figma.com/img/3bd5/b1ba/ce423322ca2e1d19935b348599a86f50?Expires=1704067200&Signature=nSnuB8IN9dSweWbp9LUsej70MmVNXz19vQn9lFC1DQTjhdGmXvm~8HfqyGMNET8ch80vtZfbnjnQibjXfX4j2uIPG~KkX8Z9pSFrZPLnDyy1c1TG6J~cAWDfPnsWgfOy5DxyD-f4T-eEp1JNn-Sto9PhulBbA8~fkGQHnBf34WEJPXx85rSPx0zmSOZusyHhrxioZQjD1ovoOahWeEXfMZerPvHIQZjlI31yUOf~eN1Ft5409oE7oDyleLa3dGKhrx2bpazLI87CbqvFaLepoH2zUQ4QDSfarhSzw8lf1Pa9NY4wMxvyQD28giq7fCrwJ8JfbbuKc6grhDIv2AKE5Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
      background-size: cover;
    }
    &-t-shirts {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(https://s3-alpha-sig.figma.com/img/9755/4914/8823ae5cf3d2ff37a1142acf0292c14d?Expires=1704067200&Signature=fgvovkhPt-oxnanI6MnrT3RzWXvsK-EPittOdVUXDWDHUJo8CxxkCYduJpgOebGbwcU7nP0LmSi-lX0w0OhooNJXISFasUdvTAuTM0gUrDrKA2-doN5VAsGPQOk1QPMj~MiOAT1Kc34lopIsU5VKUo9R3nR9IDyACdxfgWJkH-~0TwH2qVAwV1ZYpGbSm5IesQtYDNaFoXMXyto5mtBfK0A802HqWEuKjma5eSdfh4WCtQjoj41WDmfKzvBBNS44ATugfeFw-Yocu3ZEqlLonqmMIdjVJ5LOpGnewwflgljPjmQB8UJf5Lna1E2GLu299zGgpcEpwZqyZUTCyKjIhg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
      background-size: cover;
    }
    &-trousers {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(https://s3-alpha-sig.figma.com/img/7d47/cefa/b434980b005e566fdcc52dad3d4fb59c?Expires=1704067200&Signature=QaRE-bRwcUI32iEQym2p61P2BjWIVU-~jZArsW-yowTyBVYxE~buL61LNPDGYk9fuUzK6022Rw7oH75rtA7v-TZ063o7HLpKbOm4r2PD6jluIp78Mq5-eZv5DS5lHywOJ75fAhf0iMtLrDpYw8KlH0RtNkgtLbCp9hc~nk4-gs10DROVXWvhWzPEUd0vfuyE0bPh4Q50qJBeAwD9o9CswsJLO~8nPtBuvENlnzFyZtrXbo2WVAkRcLeRJ-prpvdxJfQAZ4NtwOD~hLOP7CdeODfnPc9HsYFqWOo-Jqharjl55y5cJE-JFVL48KHrYUp6~NB6ZaXo~pVF~fmF97~qTw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
      background-size: cover;
    }
    &-boots2 {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(https://s3-alpha-sig.figma.com/img/baf7/5284/3593f177f6cc233f80397e859cf1947f?Expires=1704067200&Signature=WRCkpkSe1vvkmG92wN--NQzsTIM7ndvy71x47BEtOa26XRM0fXlwaTb5EFqdhgaP60tajLySNm5BfUJu5q6EI77ipo4oRQUa1KgEoCug3T-FZfYEDx6UsRL8Pg7xSFAblJzyxmiF~yIdnENlB~N~KT0ZUwriwVmv70U~iUUWHpcHR~b3QCnveCKsiEqboqIHN-hj4NOvplY4t-om1z7NoBH904HbnyGMYVcz~mRTvs5hImI~lufCWplWjKGDOep8syigtMnXXQUywDMjtPa1NkeVzXlRmVauJ3eBn8eWEw8TwhmLwo8RH8WPNhA2US79Kygqakq04pOGar1r0qLG5g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
      background-size: cover;
    }
    &-bow-tie {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(https://s3-alpha-sig.figma.com/img/6289/cae2/6bf0165c3b2b9fe9730befabcf8afba4?Expires=1704067200&Signature=l0cIBrKPNgZWKO2y8aLjqNMqyo8sYw5gSFYJvKCWHV6tgTPldQaSZwla4f5lOB2NuF530JAh-wkDbUm2VAaQcH2MHk4G~JzfrRB3AiUMd88k28LuZnHGnG1MfDMNjPF3HikbUbjfn2vuX~h10~WyfOXFFwDK0eK4g0gD-Mpc06Tp2XEcCvxtg0p~DhSowVyud0emnqgd00JE88618tjzBpk6E5yOLCKQJ7VoR~XOyetqxn59EEgqB0qmhKym~AZ5Hsf6R2RYx~bHX7AmhUJ5nzY3xJU-aAGbroQZ2hHo~GDct-gsHa6Af8jG9DTYm4mgPEim4J3jT0UcuiezMbgEXQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
      background-size: cover;
    }
    &-t-shirts-female {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(https://s3-alpha-sig.figma.com/img/4460/7767/ee419b8e4e78e9b471b3460672338e97?Expires=1704067200&Signature=HqGthXakt32QMuobGYau5oxz7C0i9nZ-peO3XOZMMjrHzYI63HRpORi4ZdLGdrEcNXMJKRAF0BnMD8ki-OLNi-PF-1ily-ylDkUR27W6ghMLOcj3E~y1fDDlpnckwewrQXBHXiWt6RuhcgVJHTdqAFfpfr8eNBlce8~EghrjtS6njOVpS6VoGmSdcOSTe1eQAs8bF2~dVdi0cJITWKgSfdSehAh9CbStrleF37nBduO4htQuioovpP5hm6f93eKcxBni~FbA9YhdqnAFcI7hhGdZ5Ja4248stQgEQkEHa1SoJ3Gkxse8C0tURy6ooTW0bhOJl271EHVBLv0aEwvxUA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
      background-size: cover;
    }
    &-suits {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(https://s3-alpha-sig.figma.com/img/01bc/8b3f/621e23d15be0b3e65d55071ae59e470b?Expires=1704067200&Signature=JAG8FMFWL6kv3ANBbiVOP3Y1IWMfo20uWLiSfcdzrpZmfHZzq~13g3gzHRLrb5tyDZ2XrIbKUDPeCEVnY-ClKu3qgbZ~OU2hKSfA9RuQ6CHD09tpmrbXxvuc0zJP4f1WvKGJ4umTdark~Eg9reBCM1gjlGzvYjL1LRnnxj7OH1FcEGK1Wz1y5ek7bA6kBO9dLKlNrxtTTuhaZhj9Kk3CXq1rBuT8WfIUO-Oidq51RT4vmf0aWkQFoQ7OBpajMxfFzdu6U3LNk9Ab4ft76lDIZVvrYAP1XBHbJhJadef4Yd~RCnzHjKCbxR08BBAMwUgnZ4j5tthHrLaEOzh1JpSB7Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
      background-size: cover;
    }
  }
  &__item_heart {
    padding: 7px;
    padding-top: 8px;
    background-color: white;
    border-radius: 50%;
  }
  &__item_newtag {
    width: 50%;
    max-width: 119px;
    text-align: center;
    padding: 0.4em 0.7em;
    background-color: #423496;
  }
  &__item_caption {
    display: flex;
    flex-direction: column;
    @media (width >= 1400px) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  .item__caption {
    &_symbols {
      @media (width >= 1400px) {
        text-align: end;
      }
    }
    &_circles svg {
      cursor: pointer;
      &:nth-child(1) {
        border: 1px solid black;
        outline: 1px solid $gray;
        border-radius: 50%;
      }
    }
  }
  &__button_cart {
    width: 160px;
    height: 48px;
    background-color: white;
    border: none;
    border-radius: 30px;
    @media (width >= 768px) {
      display: none;
    }
  }
}

.first-offer-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: black;
  overflow-x: hidden;
  min-width: 375px;
}

.first-offer {
  &__container {
    height: 363px;
    @media (width >=992px) {
      height: 500px;
    }
    @media (width >= 1400px) {
      height: 680px;
    }
  }
  &__text {
    @media (width >= 768px) {
      top: 20%;
    }
  }
  &__title {
    padding-top: 0;
  }
  &__image {
    width: clamp(300px, 50%, 761px);
    z-index: 999;
    right: -10%;
  }
  &__blur {
    width: 50%;
    height: 70%;
    bottom: 10%;
    right: 25%;
    @media (width >= 768px) {
      right: 15%;
    }
    transform: rotate(-1.101deg);
    flex-shrink: 0;
    border-radius: 309.092px;
    background: linear-gradient(
      251deg,
      #a73b27 22.43%,
      rgba(98, 129, 41, 0.51) 59.21%,
      rgba(25, 202, 43, 0) 76.17%
    );
    background-blend-mode: multiply;
    filter: blur(39.375px);
  }
  &__blur2 {
    bottom: 10%;
    right: -30%;
    width: 50%;
    height: 50%;
    flex-shrink: 0;
    fill: rgba(201, 41, 118, 0.38);
    filter: blur(29.13749885559082px);
  }
  &__blur3 {
    width: 30%;
    height: 30%;
    top: 20%;
    right: 0;
    border-radius: 406px;
    background: rgba(201, 41, 118, 0.38);
    filter: blur(74px);
  }
}

.step-up-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: black;
  min-width: 375px;
  overflow-x: hidden;
}

.step-up {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @media (width >= 1200px) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  &__text {
    gap: 2rem;
    @media (width >= 1200px) {
      max-width: 619px;
    }
  }
  &__button {
    width: 245px;
    height: 48px;
    border: none;
    border-radius: 30px;
    background: white;
  }
  &__image {
    &_shoes {
      margin-left: 10px;
      width: 375px;
      height: 353px;
      object-fit: cover;
      z-index: 1;
      @media (width >= 1400px) {
        width: 500px;
        height: 579px;
        overflow: visible;
      }
    }
    &_eclipse {
      width: 300px;
      height: 300px;
      border-radius: 310.367px;
      background: linear-gradient(
        252deg,
        #ee5a3d 34.35%,
        rgba(246, 222, 137, 0.65) 76.18%
      );
      background-blend-mode: multiply;
      filter: blur(100px);
      @media (width >= 1400px) {
        right: 40%;
        top: 10%;
      }
    }
  }
}

.footer {
  background: black;
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-width: 375px;
  overflow-x: hidden;
  &__separator-line {
    height: 1px;
    width: 90%;
    background: $gray;
    margin: 0 auto 5rem auto;
  }

  &__links_container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    @media (width >= 1400px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 200px;
    }
  }
  ul {
    padding: 0;
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 300px;
    @media (width >= 1400px) {
      gap: 32px;
    }
    &_social {
      @media (width >= 1400px) {
        grid-area: 2 / 4 / 3 / 5;
      }
    }
  }
}
